.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInLeft {
    from {
        transform: translate3d(-1em, 0, 0);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}
